<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>The Monster Slayer</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div id="app">
    <section class="row">
      <div class="small-6 columns">
        <h1 class="text-center">YOU</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" v-bind:style="{width: playerHealth + '%'}">
            {{ playerHealth }}

          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">MONSTER</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterHealth + '%'}">
            {{ monsterHealth }}
          </div>
        </div>
      </div>
    </section>
    <!-- Decide if the start new game should be shown if new game is started. Use v-if conditon to toggle between true or false -->
    <section class="row controls" v-if="!gameIsRunning">
      <!--gameIsRunning is not false -->
      <div class="small-12 columns">
        <button id="start-game" @click="startGame">START NEW GAME</button>
      </div>
    </section>
    <!-- Must follow your v-else with the SAME ELEMENT! Ex. You couldnt use v-else on a div element -->
    <section class="row controls" v-else>
      <div class="small-12 columns">
        <button id="attack" v-on:click="attack">ATTACK</button>
        <button id="special-attack" v-on:click="specialAttack">SPECIAL ATTACK</button>
        <button id="heal" v-on:click="heal">HEAL</button>
        <button id="give-up" v-on:click="giveUp">GIVE UP</button>
      </div>
    </section>
    <!-- hides the turns log if there hasnt been a turn executed -->
    <section class="row log" v-if="turns.length > 0">
      <div class="small-12 columns">
        <ul>
          <li v-for="turn in turns" :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
            {{ turn.text }}
          </li>
        </ul>
      </div>
    </section>
  </div>



  <script src="vue.js"></script>
</body>

</html>